/* color codes : #303030 #ffc200 */

/* font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif; */

  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;700&display=swap');

body{
    margin: 0;
    color: #303030;
}
body::-webkit-scrollbar {
    width: 6px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(204, 204, 204, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #ffc200;
  }
.groups{
    height: auto;
    width: auto;
    padding: 5% 0;
}
.bg-body-tertiary {
    background-color: #00000000!important;
}
.navbar a{
    color: aliceblue;
}
.navbar-brand img{
    width: 50%;
}
.hero{
    padding: 0;
    height: 520px;
    background-image: url(images/hero-bg.jpg);
    -webkit-transform: rotate(360deg);
    background-repeat: no-repeat;
    background-color: #303030;
    color: aliceblue;
}
.hero h2{
    font-size: 45px;
}
.hero-items{
    display: flex;

}
.hero-left{
    width: 50%;
    
}
.hero-right{
    margin: 0;
    width: 50%;
}
p{
    padding: 20px 0;
}
.right{
    padding: 20px;
}
h2{
    font-family: 'Grand Hotel', cursive;
    color: #ffc200;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: small;
    background-color: #ffc200;
    padding: 10px 30px;
}
.btn:hover{
    border-color: white;
}
.cards-item{
    justify-content: center;
   
}
.card{
    border: none;
    padding: 0px 40px;
}
.card img{
    width: 80%;
    border-radius: 50%;   
}
.big-img{
    width: 60%;
    border-radius: 50%; 
}
.mid{
    padding-top: 60px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: left ;
}
.group3{
    background-image: url(images/bg4.jpg);
    background-repeat: round;
    background-position: inherit;
}


@media screen and (max-width: 1130px) {
    .hero{
        height: 500px ;
    }
    .hero-left{
      height: auto;
      width: 0%;
    }
    .hero-right{
        width: auto;
    }
    .hero-right p{
        width: 50%;
    }
  }

  @media screen and (max-width: 580px) {
    .hero-right p{
        width: auto;
    }
    .col-hide{
        display: none;
    }
    .mid{
        display: block;
    }
  }